:root{

--red:#ff3131;
--dark:#0f1117;
--card:#171a22;
--text:#fff;
--gray:#cfcfcf;

}

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

body{

background:#0d0f14;
color:white;

}

header{

position:fixed;
top:0;
width:100%;
background:rgba(0,0,0,.6);
backdrop-filter:blur(10px);
z-index:999;

}

.container{

width:90%;
max-width:1200px;
margin:auto;

}

.nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 0;

}

nav{

display:flex;
gap:30px;

}

nav a{

color:white;
text-decoration:none;
transition:.3s;

}

nav a:hover{

color:var(--red);

}

.logo{

height:55px;

}

.btn-nav,
.btn-primary{

background:var(--red);
color:white;
padding:15px 30px;
border-radius:40px;
text-decoration:none;
font-weight:600;
transition:.3s;

}

.btn-nav:hover,
.btn-primary:hover{

transform:translateY(-3px);
box-shadow:0 15px 35px rgba(255,0,0,.4);

}

.btn-secondary{

border:2px solid white;
padding:15px 30px;
border-radius:40px;
color:white;
text-decoration:none;

}

.hero{

height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:url("../img/fire.jpg") center/cover;
position:relative;

}

.overlay{

position:absolute;
inset:0;
background:rgba(0,0,0,.65);

}

.hero-content{

position:relative;
max-width:900px;
text-align:center;
z-index:2;

}

.hero h1{

font-size:60px;
margin-bottom:25px;

}

.hero p{

font-size:20px;
color:#ddd;

}

.buttons{

margin-top:40px;
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}

.section{

padding:100px 10%;

}

.section h2{

text-align:center;
margin-bottom:60px;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;

}

.card{

background:var(--card);
padding:40px;
border-radius:18px;
transition:.4s;
text-align:center;

}

.card i{

font-size:45px;
color:var(--red);
margin-bottom:20px;

}

.card:hover{

transform:translateY(-10px);

}

.numbers{

display:flex;
justify-content:space-around;
padding:80px;
background:#12151d;

}

.numbers h2{

font-size:50px;
color:var(--red);

}

.cta{

padding:120px 10%;
text-align:center;
background:linear-gradient(90deg,#8b0000,#ff3131);

}

footer{

padding:40px;
text-align:center;
background:black;

}

.whatsapp{

position:fixed;
bottom:25px;
right:25px;
background:#25d366;
width:65px;
height:65px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
color:white;
font-size:30px;
text-decoration:none;
box-shadow:0 15px 40px rgba(0,0,0,.4);

}

@media(max-width:768px){

.hero h1{

font-size:38px;

}

nav{

display:none;

}

.numbers{

flex-direction:column;
gap:40px;
text-align:center;

}

}
